@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%; 
	background-color: #0f91e6;
}

.head_nav {
	margin-left: 18%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.head_nav ul li {
	display: inline;
	line-height: 20px;
}

.head_nav ul li a {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
    padding-top: 15px;
    padding-bottom: 17px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 18px;
	color: white;
	text-decoration : none;
	letter-spacing: -0.5px;
}

.head_nav ul li a:hover {
	background-color: #4374D9;
}

#side {
	 width: 15%; 
	 float:left;
}

#content {
	border-left: 2px solid #EAEAEA;
	width: 84%; 
	float: right;
}
/* ======================== Div Side ============================= */

#btn1 {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	background-color : white;
	border-style: solid;
	border-radius : 10px;
	border-width : 2px;
	box-shadow: none;
	border-color : #D5D5D5;
/* 	margin-top: 10%; */
/* 	margin-left: 10%; */
/* 	margin-bottom: 10%; */
	margin : 10% 10%;
	padding : 5% 0%;
	width: 80%;
	font-size: 21px;   
}

#btn1:hover{
     transition: all 0.2s linear;
     transform: translate(0, -5%);
       box-shadow: 2px 2px 2px 2px #BDBDBD; 
       border: 2px solid gray;
  
 }
 
 .button1{	
  	margin-left: 3%;
  	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	cursor: pointer;
 }

#scroll {
	margin-left: 18%;
}

#div2 {
	margin-top: 7%;
}

.li {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	line-height: 20px;
  	padding-top: 10px;
  	padding-bottom: 7px;
}

#span_hover{
	display: none;
}
@-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
/*     @-webkit-keyframes fadeout { */
/*         Safari and Chrome */
/*         from { */
/*             opacity: 1; */
/*         } */
/*         to { */
/*             opacity: 0; */
/*         } */
/*     } */
#side:hover #span_hover {
    display: inline;	
    -webkit-animation: fadein 1s;
}

#side:hover #span_none {
    display: none;
}

/* 시계 */
#clock {
	margin-top: 40px;
	margin-bottom: 20px;
}

#clock1 {
	color: #8C8C8C;
	font-weight: bold;
	margin-left: 40px;
}

#clock2 {
	margin-left: 50px;
	font-size: 47px;
	color: #5D5D5D;
}

.clock3 {
	font-weight: bold;
	margin-left: 25px;
	line-height: 35px;
	font-size: 15px;
}

.clock4 {
	float: right;
	margin-right: 15px;
	font-size: 15px;
	line-height: 35px;
}

/* ========================== Content ========================== */

h2 {
	font-weight: normal;
	margin: 50px 50px;
	float: left;
}

#searchBox{
	float:right;
	margin-top: 40px;
	margin-right: 50px;
	position: relative;
	width: 200px;
	height: 37px;
	border: 1px solid #ddd;
	padding : 0px 10px;
}

 #search {
 	border : none;
	padding : 0px 30px;
	border-radius: 50px;
	font-size: 18px;
	font-family: "Nunito";
	color : #424242;
	font-weight: 500;
	width: 150px;
}

#search:focus {
	outline : none;
}

#option {
	border: 0;
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	font-size: 17px;
	color: black;
}
