@charset "UTF-8";

/* ======================== Div Side ============================= */

#btn1 {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	background-color : white;
	border-style: solid;
	border-radius : 10px;
	border-width : 2px;
	box-shadow: none;
	border-color : #D5D5D5;
/* 	margin-top: 10%; */
/* 	margin-left: 10%; */
/* 	margin-bottom: 10%; */
	margin : 10% 10%;
	padding : 5% 0%;
	width: 85%;
	font-size: 21px;   
}
a { text-decoration:none } 
#btn1:hover{
     transition: all 0.2s linear;
     transform: translate(0, -5%);
       box-shadow: 2px 2px 2px 2px #BDBDBD; 
       border: 2px solid gray;
  
 }
  .li{
 width:100%;
 height: 30px;
}
 .li:hover {
	background-color: #F6F6F6;

}
 .button1{	
  	margin-left: 3%;
  	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 20px;
  	cursor: pointer;
 }
 .button1{	
  	margin-left: 3%;
  	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	cursor: pointer;
 }

#scroll {
	margin-left: 18%;
}

#div2 {
	margin-top: 7%;
}

.li {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	line-height: 20px;
  	padding-top: 5px;
  	
}


#span_hover{
	display: none;
}
@-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
#side:hover #span_hover {
    display: inline;	
    -webkit-animation: fadein 1s;
}

#side:hover #span_none {
    display: none;
}
/* ==============================================Content========================================================== */

#Top{
	height: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#td_title{
	 display: inline;
    min-height: 13px;
    margin: 0 8px 0 0;
    margin-left: 46px;
    font-weight:bold;
    color:#383838;
    font-size: 25px;
	
}
#write_Select{
	 margin-top: 20px;
	margin-bottom: 0px;
	padding-top:20px;
	 height: 50px;
	 margin-bottom:10px;
	 padding-left:40px;
	  border-bottom: 1px solid #ddd;

}
a{
	color: black;
}
select{
	border: 1px solid #ddd;
    height: 26px;
    width:200px;
    border-radius:7px;
   padding-bottom:30px;
   	
}
#create_community_wrap{
	margin-top: 40px;
}
#subject {
	width: 1000px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

#text_conotent {
	
		width: 1000px;
	height: 50px;
	margin-top: 20px;
	margin-left: 73px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

#p_title {
	display: inline;
	min-height: 13px;
	margin: 0 8px 0 0;
	margin-top: 40px;
	margin-left: 46px;
	font-weight: bold;
	color: #383838;
	font-size: 25px;
}

#btnUpdete {
	margin-left: 600px;
	display: inline-block;
	cursor: pointer;
	padding: 0 20px;
	color: #fff;
	font-weight: normal;
	font-size: 13px;
	height: 34px;
	line-height: 33px;
	background: #00a1b9;
	border: 1px solid #00a1b9;
	border-radius: 2px;}
#btnNotice {
	display: inline-block;
	cursor: pointer;
	padding: 0 16px;
	height: 34px;
	line-height: 33px;
	border-radius: 2px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	margin-left: 20px;
	margin-bottom: 100px;}

.note-editor{
     margin-top: 30px;
 	 margin-left: 31px;
     margin-bottom: 50px;
    }

#page_num_button{
    display: inline-block;
    padding: 0;
    height: 26px;
    min-width: 24px;
    font-size: 16px;
    line-height: 25px;
    vertical-align: top;
    border: 1px solid #fff;	
    text-align: center; 
     color: #333 !important;
    border-color: #333 !important;
}