html, body, #content {
    height: 105%;
    /* overflow: hidden; */
}

#content #content_top h1{
    padding: 24px;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -1px;	
}

#table_drive {
	border-collapse: collapse;
    width: 100%;
    margin-top: 22px;    
}

#table_drive thead th {
	height: 37px;
    border-top: 1px solid #a2a1a1;
    border-bottom: 1px solid #a2a1a1;
    text-align: left;
	padding: 0 45px;
    font-weight: normal;
    font-size: 17px;
}

#table_drive tr td {
    height: 50px;
    text-align: left;
	padding: 0 45px;
    border-bottom: 1px solid #ddd;
    font-size: 17px;	
}

#table_drive tr:hover td {
	background: #f4f4f4;
}

.button_download {
    display: inline-block;
    height: 25px;
    line-height: 18px;
    padding: 0 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap; 
}

.button_download_file {
	margin-left: 13px;
}

.button_download:hover {
	background: #f4f4f4;
}
