@charset "UTF-8";
#TestCircle {
	position: fixed;
    bottom: 25px;
    left: 25px;	
}

#Test {
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: transparent;
}

/* =========================== Modal ===================================== */


.input {
   width: 494px;   
   height: 25px;
   border: 1px solid #c0c0c0;
   border-radius: 4px;
}

.chatModal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
/*    background-color: rgb(0, 0, 0); Fallback color */
/*    background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */
}

#chatting {
/* 	display: none; */
}

#back {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.groupchat {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#content2 {
    		position: relative;
    		background-color: white;
    		width: 501px;
    		height: 500px;
    		overflow: auto;
}
.onebyone {
	width: 50px;
	height: 20px;
}

.group {
	width: 50px;
	height: 20px;
}

.groupCheckbox {
	width: 50px;
	height: 20px;
}

.insertroom {
	width: 70px;
	height: 20px;
}

#join_member {
	width: 70px;
	height: 20px;
}

.chating .me2{
			color: white;
    		text-align: center;
    		border-radius: 20px;
    		line-height: 40px;
    		float: right;
    		font-size: 18px;
    		position: relative;
    		font-weight: bold;
		}
.chating .date3{
			float: right;
			font-size: 12px;
			padding-right: 7.5px;
			text-align: right;
			margin-top: 80px;
		}
.chating .others2{
			color: black;
    		text-align: center;
    		border-radius: 20px;
    		margin-bottom: 10px;
    		line-height: 40px;
    		float: left;
    		font-size: 18px;
    		position: relative;
    		padding-left: 15px;
    		padding-right: 15px;
    		font-weight: bold;
			}
.chating .date4{
			float: left;
			font-size: 12px;	
			padding-left: 7.5px;
		}
		
#memo2 {
			height: 200px;
			
		}
		
.button_x3 {
	margin-left: 270px;
	cursor: pointer;
}	

#groupRoomlist #img1 {
	width: 30px;
	height: 30px;
}

#groupRoomlist #img2 {
	width: 30px;
	height: 30px;
}

#groupRoomlist #img3 {
	width: 30px;
	height: 30px;
}