@charset "UTF-8";

#head_address{
	background-color: #4374D9;
}
/* ======================== Div Side ============================= */

#btn1 {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	background-color : white;
	border-style: solid;
	border-radius : 10px;
	border-width : 2px;
	box-shadow: none;
	border-color : #D5D5D5;
/* 	margin-top: 10%; */
/* 	margin-left: 10%; */
/* 	margin-bottom: 10%; */
	margin : 10% 10%;
	padding : 5% 0%;
	width: 80%;
	font-size: 21px;   
}

#btn1:hover{
     transition: all 0.2s linear;
     transform: translate(0, -5%);
       box-shadow: 2px 2px 2px 2px #BDBDBD; 
       border: 2px solid gray;
  
 }
 
.button1{	
  	margin-left: 3%;
  	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	cursor: pointer;
 }

#scroll {
	margin-left : 18%;
}

a {
	color: black;
  	text-decoration: none;
}	

#div2 {
	margin-top: 7%;
}

.li {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	line-height: 20px;
  	padding-top: 10px;
  	padding-bottom: 7px;
}

.li:hover {
	background-color: #F6F6F6;
}

#span_hover{
	display: none;
}
@-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeout {
/*         Safari and Chrome */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
#side:hover #span_hover {
    display: inline;	
    -webkit-animation: fadein 1s;
}

#side:hover #span_none {
    display: none;
}

/* 	연락처 주소록 추가 */
.groupAdd{
	cursor: pointer;
	
}

#group {
	display: none;
}

#groupName{
	width: 150px;
	height: 27px;
	margin-right: 10px;
}

#groupAdd{
	width:17px; 
	height:17px;
	margin-right: 10px;
}
/* ========================== Content ========================== */

h2 {
	font-weight: normal;
	margin: 50px 50px;
	float: left;
}

/* 검색창 */
#searchBox{
	float:right;
	margin-top: 40px;
	margin-right: 50px;
	position: relative;
	width: 200px;
	height: 37px;
	border: 1px solid #ddd;
	padding : 0px 10px;
}

 #search {
 	border : none;
	padding : 0px 30px;
	border-radius: 50px;
	font-size: 18px;
	font-family: "Nunito";
	color : #424242;
	font-weight: 500;
	width: 150px;
}

#search:focus {
	outline : none;
}

#option {
	border: 0;
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	font-size: 17px;
	color: black;
}

/* tool */
.tool_ul {
	margin-left: 70px;
	list-style: none;
}

.tool_ul li{
	float: left;
}

.btn2 {
	background-color: white;
	border: 0;
	cursor: pointer;
	padding: 5px 5px;
	font-size: 17px;
}

.btn2:hover {
	background-color: #EAEAEA;
}

#speed {
	margin-left: 40px;
	margin-top: 30px;
}

.speed {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	height: 28px;
	width: 190px;
	font-size: 17px;
	margin-right: 5px;
}

.speed_plus_btn{
	width: 45px;
	height: 28px;
	border: 1px solid #ddd;
	background-color: #ddd;
	cursor: pointer;
}

.search_ul{
	margin-top: 20px;
	margin-left: 32px;
	list-style: none;
}

.search_ul li {
	float: left;
	padding: 5px 10px;
}

.search_ul li a {
	text-decoration : none;
	color: #8C8C8C;
	font-size: 17px;
	padding-bottom: 10px;
}

.search_ul li a:hover {
	color: black;
	font-weight: bold;
	border-bottom: 2px solid black;
}

/* 표 */

#board_table{
	
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	width: 95%;
	position:relative;
	margin-top:2%;
	margin-left:2%;
	padding-bottom:30px;
	padding-left: 20px;
	border-radius:10px;
	background-color: white;
	
}
#list_table{
	
	border-top:2px solid #EAEAEA;
}
#table_btn{
	position: relative;
	float: left;
	margin-right: 2%;			
}
#board_table input{
	padding: 30px;
}
#board_table tr:hover{
		background-color: #F6F6F6;
}
#board_table tr, #board_table td{
	margin-left:5%;
	height: 50px;
	width: 300px;
	font-size:18px;
	border-collapse: collapse;
}

.clicked {
	color: black;
}
/* =========================== Modal ===================================== */

.modal-content {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	font-size: 20px;
}

.modal_btn {
	margin-right: 5px;
    color: white;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
    font-size: 13px;
	background: #0f91e6;
    border: 1px solid #0f91e6;
    border-radius: 2px;
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
}

#modal_form tr {
	width: 70px;
	line-height: 35px;
}

#modal_form tr td {
	padding: 8px;	
}

.input {
	width: 494px;	
	height: 25px;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 620px; /* Could be more or less, depending on screen size */
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgb(0 0 0/ 20%);
}
