@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body{
    background: #f1f1f1;
}
header {
	width: 100%; 
	background-color: #0f91e6;
}

html, body, .container {
	height: 100%;
}

.head_nav {
	margin-left: 18%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.head_nav ul li {
	display: inline;
}

.head_nav ul li a {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 18px;
	color: white;
	text-decoration : none;
	letter-spacing: -0.5px;
}

.head_nav ul li a:hover {
	background-color: #4374D9;
}

.side {
	 z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 16px 0;
    width: 300px;
    background: #282828;
    vertical-align: top;
}

#content {
	width: 87% !important;
	float: right;
}

/* ======================== Div Side ============================= */

#btn1 {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	background-color : white;
	border-style: solid;
	border-radius : 10px;
	border-width : 2px;
	box-shadow: none;
	border-color : #D5D5D5;
	margin : 10% 10%;
	padding : 5% 0%;
	width: 80%;
	font-size: 21px;   
}


#btn1:hover{
     transition: all 0.2s linear;
     transform: translate(0, -5%);
       box-shadow: 2px 2px 2px 2px #BDBDBD; 
       border: 2px solid gray;
  
 }
 
 .button1{	
  	margin-left: 3%;
  	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 20px;
line-height:60px;
  	cursor: pointer;
 }

#scroll {
	margin-left: 18%;
}

#div2 {
	margin-top: 7%;
}

.li {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
  	font-size: 17px;
  	line-height: 30px;
  	padding-top: 5px;
  	color: white;
}

#span_hover{
	display: none;
}

@-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.side:hover #span_hover {
    display: inline;	
    -webkit-animation: fadein 1s;
}

.side:hover #span_none {
    display: none;
}

/* ========================== Content ========================== */

h2 {
	font-weight: normal;
	margin-left: 20px;
	margin-top: 20px;
}

/* 검색창 */
#searchBox{
	float:right;
	margin-top: 40px;
	margin-right: 50px;
	position: relative;
	height: 37px;
	border: 1px solid #ddd;
	padding : 0px 10px;
}

 #search {
 	border : none;
	padding : 0px 30px;
	border-radius: 50px;
	font-size: 18px;
	font-family: "Nunito";
	color : #353535;
	font-weight: 500;
	width: 150px;
}

#search:focus {
	outline : none;
}

#option {
	border: 0;
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	font-size: 17px;
	color: black;
}

/* tool */
.tool_ul {
	margin-left: 70px;
	list-style: none;
}

.tool_ul li{
	float: left;
}

.btn2 {
	background-color: white;
	border: 0;
	cursor: pointer;
	padding: 5px 5px;
	padding-right:20px;
	font-size: 17px;
}

.btn2:hover {
	background-color: #EAEAEA;
	border-radius: 10px;
	width: 180px;
}
#text{
	padding-left:5%;
	margin-top:5%;
	color:#EAEAEA;
	font-size: 24px;
	font-weight: bold;
}
.menu_hover:hover{
	background-color: #5D5D5D;
	
}
.menu_hover
{
	font-size:50;
	margin-top:10%;
	border-radius:10px;
	width: 290px;
	position: relative;
}

#wrap {
	margin-top:5%;
	margin-left:2%;
	padding-top:30px;
	line-height:70px;
	padding-bottom:30px;
	padding-left: 20px;
	border-radius:10px;
	width: 95%;
	height: 80px;
	background-color: white;
}
#wrap tr, #wrap td{
	height: 50px;
	width: 90%;
	font-size: 22px;
	font-weight: bold;
}
#board_table {
	width: 92%;
	position: relative;
	margin-top: 2%;
	margin-left: 2%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 4%;
/* 	padding-left: 20px; */
	border-radius: 10px;
	background-color: white;
	}
#list_table{
	
	border-top:2px solid #EAEAEA;
}
#table_btn{
	position: relative;
	float: left;
	margin-right: 2%;			
}
#board_table input{
	padding: 30px;
}
#board_table tr:hover{
		background-color: #F6F6F6;
}
#board_table tr, #board_table td{
	margin-left:5%;
	height: 50px;
	width: 250px;
	font-size:18px;
	border-collapse: collapse;
}

#arrow2{
	position: relative;
	float: left;
}

.button4 {
	display: none;
}
input[type="checkbox"]:checked {
 background-color: rgb(192, 192, 192);
  border-color: rgb(192, 192, 192);
}
#right2{
	height: 60px;
	width: 35px;
}

select {
	width: 140px; /* 원하는 너비설정 */
	padding: .7em .4em; /* 여백으로 높이 설정 */
	border: 2px solid #c0c0c0;
	font-family: inherit; /* 폰트 상속 */
	font-size:15px;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
/* 	appearance: none; */
}
.wrap {
	width: 140px;
	height:.7em .4em;
	border: 1px solid #ccc;
	background: url('images/right4.png') no-repeat 97% 50%/15px auto;

}
/* select::-ms-expand { IE 10, 11의 네이티브 화살표 숨기기 */
/* 	display: none; */
/* } */

/* =========================== Modal ===================================== */

.modal-content {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	font-size: 20px;
}

.modal_btn {
	margin-left:30px;
	margin-top: 3%;
/* margin-right: 30px; */
    color: white;
    height: 50px;
    font-weight:bold;
    line-height: 32px;
    width:200px;
    vertical-align: top;
    font-size: 20px;
	background: #0f91e6;
    border: 1px solid #0f91e6;
    border-radius: 3px;
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    
}
#modal_btn input{
	float:left;
position:relative;
}

#modal_form tr {
	width: 70px;
	line-height: 35px;
}

#modal_form tr td {
	padding: 14px;	
}

#modal_tb input {
	width: 300px;	
	height: 40px;
	border: 2px solid #EAEAEA;
	border-radius: 4px;
	
	
}

#modal_tb input:hover {
	border: 3px solid #0f91e6;
	border-radius: 4px;
	
}
#modal_wrap{
	margin-left: 88px;
}
#profile{
	float: left;
}

#profile_name{
	padding-top:7px;
	margin-left: 70px;
}
.id_ok{color:#fff; display: none;}
.id_already{color:#6A82FB; display: none;}