@charset "UTF-8";

/* 버튼 스타일 */
#button_new_sign {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
	background-color : white;
	border-style: solid;
	border-radius : 10px;
	border-width : 2px;
	box-shadow: none;
	border-color : #D5D5D5;
/* 	margin-top: 10%; */
/* 	margin-left: 10%; */
/* 	margin-bottom: 10%; */
	margin : 10% 10%;
	padding : 5% 0%;
	width: 85%;
	font-size: 21px;
	cursor: pointer;
}

#button_new_sign:hover { 
     transition: all 0.2s linear;
     transform: translate(0, -5%);
       box-shadow: 2px 2px 2px 2px #BDBDBD; 
       border: 2px solid gray;
  
 }
 
/* 모달창 관련 스타일 */
/* 모달창 뒤 배경 */
.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0, 0.3);
	top: 0;
	left: 0;
	z-index: 1;
}

/* 모달창 업로드 */
#modal_wrap_new_sign {
	display: none;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
	overflow: scroll;
}

/* 메뉴 스타일 */
a {
	color: black;
    text-decoration: none;
    cursor: pointer;
}
li .menu_title {
    position: relative;
    padding: 2px 24px 2px 40px;
}

.menu_button {
    margin-left: 3%;
    font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
}
.scroll {
/*     margin-left: 18%; */
}
.li {
    font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
    font-size: 17px;
    line-height: 20px;
    padding-top: 8px;
/*     padding-bottom: 7px; */
}

#span_hover{
	display: none;
}
@-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
#side:hover #span_hover {
    display: inline;	
    -webkit-animation: fadein 1s;
}

#side:hover #span_none {
    display: none;
}


/* 새 결재 진행창 내 목록*/
li.common_group {
	list-style: none;
	font-size: 20px;
    margin-top: 16px;
}

li.sign_form {
	list-style: none;
	font-size: 15px;
}

/* End of 새 결재 진행창 내 목록 */
