@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body,input, textarea, select {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
}

header {
	width: 100%; 
	background-color: #0f91e6;
}

.head_nav {
	margin-left: 18%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.head_nav ul li {
	display: inline;
	line-height: 20px;
}

.head_nav ul li a {
	font-family: 'Noto Sans KR',맑은 고딕,돋움, malgun gothic, dotum,AppleGothic,Helvetica,sans-serif;
    padding-top: 15px;
    padding-bottom: 17px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 18px;
	color: white;
	text-decoration : none;
	letter-spacing: -0.5px;
}

.head_nav ul li a:hover {
	background-color: #4374D9;
}

#side {
	 width: 15%; 
	 float:left;
}

#content {
	border-left: 2px solid #EAEAEA;
	width: 84%; 
	float: right;
}